@import '../../../../styles/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 70px;
}

section {
    width: 100%;
    padding-bottom: 25px;

    .status-box {
        margin-bottom: 20px;

        span { 
            color: $accent-color;
            font-weight: 600; 
        }
    }

    .list, &#events {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &#events { padding-top: 26px; }

    &#in-progress {
        margin-bottom: 10px;
        border-bottom: 2px solid $neutral-color-3;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 200px;

    p {
        color: $neutral-color-1;
        font-size: 22px;
    }
}

@media screen and (max-width: 688px) {
    .message {
        p { font-size: 20px; }
    }
}

@media screen and (max-width: 480px) {
    :host { padding-top: 52px; }

    .message {
        p { font-size: 18px; }
    }
}
