@import '../../../../styles/variables.scss';

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 13vh;

    background-color: $secondary-color;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 63%;

    h1 {
        font-size: 32px;
        font-weight: bold;
    }

    .user-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 54px;
        height: 54px;

        background-color: $neutral-color-2;

        border-radius: 50%;

        i { font-size: 24px; }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 37%;

    background-color: $neutral-color-3;

    position: relative;

    .toggle-btn {
        display: flex;
        flex-direction: row;
        gap: 15px;

        margin-left: 5%;

        cursor: pointer;

        i { margin-top: 2px; }

        span { 
            font-size: 19px; 
            font-weight: 500;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        width: 600px;
        padding: 0;
        margin: 0 auto;

        list-style: none;

        .close-btn {
            margin-left: 22px;
            margin-bottom: 15px;

            font-size: 22px;
            color: $neutral-color-1;

            cursor: pointer;
        }

        &.closed {
            display: none;
        }

        &.open {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;

            width: 100vw;
            height: 100vh;

            padding: 40px 10px;

            background-color: $background-color;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}
