<button  [ngClass]="{ 'disabled': isDisabled }" (click)="showOptions()">
    <i [class]="iconClass"></i>
</button>
<div 
    #container
    [ngClass]="{ 'list-container': true,'is-visible': isOptionsVisible }"
>
    <ul [ngClass]="{ 'is-visible': isOptionsVisible }">
        @for (option of options; track $index) {
            <li>
                @if (option.isLink) {
                    <a [routerLink]="option.value.toString()" (click)="onClick()">{{ option.name }}</a>
                } @else {
                    <span (click)="onClick($event, option.value)">{{ option.name }}</span>
                }
            </li>
        }
    </ul>
</div>
