$primary-color: #1C2632;
$secondary-color: #2A3543;
$background-color: #131A21;

$neutral-color-1: #BBBBBB;
$neutral-color-2: #D9D9D9;
$neutral-color-3: #4A535F;
$neutral-color-4: #616874;

$accent-color: #DC393A;
$dark-accent-color: darken($accent-color, 11%);

$font-color: #FFFFFF;

$gold-1: #FFCD1A;
$gold-2: #FF7715;
$silver-1: #B5B5B5;
$silver-2: #666666;
$bronze-1: #B75800;
$bronze-2: #8D2A00;

$default-radius: 10px;
