@import '../../../../styles/variables.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 100%;
    padding-bottom: 60px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 92px;
    height: 92px;
    
    margin-bottom: 20px;
    background-color: $neutral-color-2;
    
    border-radius: 50%;
    
    i { font-size: 40px; }
}

span {
    font-size: 18px;
    color: $neutral-color-2;
    font-weight: 500;

    &#name {
        max-width: 95%;
        color: $font-color;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
}

.extras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    margin-top: 8px;

    span { font-weight: 400; }
}

@media screen and (max-width: 992px) {
    .profile-icon {
        width: 80px;
        height: 80px;

        i { font-size: 34px; }
    }
}

@media screen and (max-width: 688px) {
    :host { padding-top: 18px; }

    span {
        font-size: 16px;

        &#name { font-size: 22px; }
    }
}

@media screen and (max-width: 480px) {
    .profile-icon {
        width: 64px;
        height: 64px;

        i { font-size: 28px; }
    }

    span {
        font-size: 15px;

        &#name { font-size: 19px; }
    }

    .extras {
        gap: 16px;
        margin-top: 0px;
    }
}
