<dialog #modal>
    <div class="wrapper">
        <div class="text-container">
            <h2>{{ title }}</h2>
            <p>{{ message }}</p>
        </div>
        <div class="btn-container">
            <button 
                id="cancel"  
                [ngClass]="{ 'fit': hasOnlyMessage,'error': customClass == 'error' }" 
                (click)="onClick()"
            >
                {{ (hasOnlyMessage) ? buttonMessage : 'Cancelar' }}
            </button>
            @if (!hasOnlyMessage) {
                <button id="ok" (click)="onClick(true)">{{ buttonMessage }}</button>
            }
        </div>
    </div>
</dialog>
