@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'styles/variables.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    ::-webkit-scrollbar {
        width: 5px; 
        height: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: $neutral-color-4;
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-thumb:hover { background-color: $neutral-color-1; }
    
    ::-webkit-scrollbar-track { background: transparent; }
}

body { 
    background-color: $background-color; 
    color: $font-color;
    
    overflow-x: hidden;
}

abbr { text-decoration: none; }

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 900px;
    height: 70px;

    &.form { width: 650px; }
}

.status-box {
    width: fit-content;

    border-radius: 20px;
    background-color: $background-color;

    padding: 8px 16px;

    span { font-size: 18px; }
}

#output {
    height: 400px;
    overflow-y: auto;

    border-radius: $default-radius;
    padding: 20px;

    background-color: $neutral-color-3;

    font-size: 18px;
    line-height: 1.6;

    outline: none;
}

@media screen and (max-width: 992px) {
    .buttons-container { width: 80vw; }
}

@media screen and (max-width: 768px) {
    .buttons-container, .buttons-container.form { 
        width: 90vw; 
    }
}

@media screen and (max-width: 688px) {
    .buttons-container, .buttons-container.form { width: 94vw; }

    .status-box {
        span { font-size: 16px; }
    }
}

@media screen and (max-width: 480px) {
    .buttons-container, .buttons-container.form { 
        width: 95vw; 
        height: 52px;
    }

    .status-box {
        padding: 8px 12px;

        span { font-size: 14px; }
    }
}
