@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'styles/variables.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body { 
    background-color: $background-color; 
    color: $font-color;
    
    overflow-x: hidden;
}

abbr { text-decoration: none; }

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 900px;
    height: 70px;

    &.form { width: 650px; }
}

@media screen and (max-width: 992px) {
    .buttons-container { width: 80vw; }
}

@media screen and (max-width: 768px) {
    .buttons-container, .buttons-container.form { 
        width: 90vw; 
    }
}

@media screen and (max-width: 688px) {
    .buttons-container, .buttons-container.form { width: 94vw; }
}

@media screen and (max-width: 480px) {
    .buttons-container, .buttons-container.form { 
        width: 95vw; 
        height: 52px;
    }
}
